.dashboard-container {
  background: #0e0c0a;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 40px 20px;
}

.dashboard-card {
  background: #141210;
  padding: 40px 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #caa06a;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.dashboard-card h1 {
  font-size: 24px;
  font-weight: 700;
  color: #edf4f2;
  margin-bottom: 12px;
}

.login-time,
.user-email {
  font-size: 14px;
  color: #edf4f2;
  margin: 6px 0;
}

.user-name {
  text-transform: uppercase;
  color: #caa06a; /* highlight username */
}

.logout-button {
  background: #caa06a;
  color: #0e0c0a;
  border: none;
  padding: 12px 18px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
  align-self: flex-end;
}

.logout-button:hover {
  background: #b48b54;
  color: #edf4f2;
}

/* SweetAlert2 button styles */
.logout-confirm-btn {
  background-color: #28a745;
  margin-left: 15px;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.logout-cancel-btn {
  background-color: #e42528;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .dashboard-card {
    padding: 20px;
    font-size: 14px;
  }
}

/* dashboard-content */
.dashboard-content-card {
  background-color: #0e0c0a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  width: 100%;
  border: 2px solid #caa06a;
}

.dashboard-tabs-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.dashboard-tab-btn {
  font-size: 1.3rem;
  font-weight: 500;
  color: #555;
  border: none;
  outline: none;
  margin: 2px 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 2px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.dashboard-tab-btn:hover {
  color: #caa06a;
}

.active-dashboard-tab {
  border-bottom: 3px solid #caa06a !important;
  color: #fff !important;
  font-weight: bold;
  transform: translateY(-5px);
}

.dashboard-content {
  padding: 20px;
  border-radius: 12px;
  background-color: #0e0c0a;
}

@media screen and (max-width: 768px) {
  .dashboard-tab-btn {
    margin: 0 0;
    font-size: 1rem;
  }
}
