.about-container {
  background: #0e0c0a;
}

.parallax-box {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.parallax-banner-box {
  padding-top: 10vh;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  background: #0e0c0a;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}

/* Optional: different heights for images */
.parallax-box-1 {
  height: 300px;
}

.parallax-box-2 {
  height: 200px;
}

.parallax-box-3 {
  height: 250px;
}

.about-text {
  background-color: #fff2e6; /* light peach */
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
  .parallax-banner-card {
    margin-top: 10vh;
  }
  .about-grid {
    grid-template-columns: 1fr;
  }

  .parallax-box {
    height: 400px;
  }
}
